@import url('./geral.css');

header {
    width: 100%;
    height: 100px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
}

.logo {
    width: 300px;
    height: 100%;
    background-image: url('../imgs/logo-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container {
    height: auto;
    max-width: 1240px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 50px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

form input {
    margin-top: 8px;
    margin-bottom: 30px;
    padding: 0.5rem 1rem;
    border: 2px solid var(--grey);
    border-radius: 10px;
    font-family: 'Gotham';
    font-weight: 300;
}

form button {
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: var(--green);
    font-family: 'Gotham';
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    opacity: 0.7;
}